@model carStoreManager.Models.Car
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/storePage.css" asp-append-version="true" />


@* <h1>Details</h1> *@

<div class="container my-4">
    <h3 class="mb-4 border-bottom border-dark">Item Details</h3>
    <div class="d-flex justify-content-center">
        <div class="card mb-4 w-75">
            <div class="row no-gutters">
                <div class="col-md-6">
                    @if (string.IsNullOrEmpty(Model.URL))
                    {
                        <img src="/Images/defaultCar.jpg" class="card-img" alt="Item Image">
                    }
                    else
                    {
                        <img src="@Html.DisplayFor(model => model.URL)" class="card-img" alt="Item Image">
                    }
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="card-body">
                        <h3 class="card-title">@Html.DisplayFor(model => model.ItemName)</h3>
                        <p class="card-text"><strong>Price:</strong> $@Html.DisplayFor(model => model.Price)</p>
                        <p class="card-text"><strong>Quantity Available:</strong> @Html.DisplayFor(model => model.Quantity)</p>
                        <p class="card-text"><strong>Brand:</strong> @Html.DisplayFor(model => model.Brand)</p>
                        <p class="card-text"><strong>Model:</strong> @Html.DisplayFor(model => model.CarModel)</p>
                        <div class="d-flex flex-row"><input type="number" id="quantityInput" class="form-control" min="1" max="10" value="1"><button class="btn btn-primary">Add to Cart</button></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <hr />
    <div class="card mb-4 w-100">
        <p class="card-text"><strong>Description:</strong> @Html.DisplayFor(model => model.Description)</p>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


